<div *ngIf="updateEvent.success==true" class="alert-success">Changes have been successfully saved</div>
<div *ngIf="updateEvent.success==false" class="alert-danger">Error occurred: {{updateEvent.message}}</div>
<div *ngIf="user">
  <table class="table table-bordered table-striped">
    <tr>
      <td>Timesheets</td>
      <td><a href="#" (click)="arrowClick('backward');false">◄</a></td>
      <td *ngFor="let day of currentWeekDays">{{day | date}}</td>
      <td><a href="#" (click)="arrowClick('forward');false">►</a></td>
    </tr>

    <tbody *ngFor="let project of user.Projects">
    <a [routerLink]="['dashboard', project.Id]"> {{project.Name}}</a>
    <tr *ngFor="let ticket of project.Tickets">
      <td>{{ticket.Name}}</td>
      <td></td>
      <td *ngFor="let ts of currentWeekDays; let i = index">
        <input type="number" (change)="markAsDirty(ticket.Id, i, $event.target.value, project)"
               [ngClass]="isHighlighted(ticketToTs.get(ticket.Id).get(dateToStr(currentWeekDays[i])))"
               [(ngModel)]="ticketToTs.get(ticket.Id).get(dateToStr(currentWeekDays[i])).LoggedTime"/>
        <a href="#" (click)="addComment(ticketToTs.get(ticket.Id).get(dateToStr(currentWeekDays[i])));false"
           class="more" title="Add Comment"></a>
      </td>

      <td></td>
    </tr>
    <tr>
      <td>Total</td>
      <td></td>
      <td *ngFor="let ts of currentWeekDays; let i = index">
        {{ticketToTs | totalTs:projectToTicket.get(project.Id):dateToStr(currentWeekDays[i]) }}
      </td>
      <td></td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-primary pull-right" (click)="saveTimeSheets()" [disabled]="!isTimesheetModified()">Save
  </button>
</div>


