.editIcon {
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url(../../img/edit-icon.png) no-repeat 2px 2px;
}

.removeIcon {
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url(../../img/remove-icon.png) no-repeat 2px 2px;
}
