<h4 align="center"> {{project.Name}}
  <button class="btn btn-primary pull-right" (click)="activeTicket={};ticketModal.open()">
    New ticket
  </button>
</h4>

<div *ngIf="errorMessage!=null" class="alert-danger">Error occurred: {{errorMessage}}</div>
<div class="col-sm-2" *ngFor="let statusId of  allStatusIds">
  <div class="panel panel-success">
    <div class="panel-heading">
      {{IdToName.get(statusId)}}
    </div>
    <div class="panel-body" dnd-droppable (onDropSuccess)="moveTicket($event,statusId)" [dropZones]="['dropZone']">
      <ul class="list-group">
        <li *ngFor="let ticket of ticketsByStatusId[statusId]" class="list-group-item"
            dnd-draggable [dragData]="[ticket,statusId]" [dropZones]="['dropZone']">
          <span style="color: blue">{{ticket.Name}}</span>
          <span style="float: right">
              <a href="#" (click)="setTicketToModify(ticket);ticketModal.open();false" class="editIcon"
                 title="Edit"></a>
              <a href="#" (click)="deleteTicket(ticket);false" class="removeIcon" title="Delete"></a>
            </span>
        </li>
      </ul>
    </div>
  </div>
</div>
<modal #ticketModal (onClose)="activeTicket={}">
  <modal-header>
    <h2>Create/Update ticket</h2>
  </modal-header>
  <modal-content>
    <form>
      <input type="hidden" [(ngModel)]="activeTicket.Id" name="id"/>
      <label style="width: 10rem">Name:</label>
      <input [(ngModel)]="activeTicket.Name" name="name"/>
      <br/>
      <label style="width: 10rem">Description:</label>
      <input [(ngModel)]="activeTicket.Description" name="statusId"/>
    </form>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="createOrUpdateTicket();ticketModal.close()">Save</button>
  </modal-footer>
</modal>



